
html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
    }

    #map {
        display: none;
      width: 100vw;
      height: calc(100vh - 120px); /* оставим 60px снизу */
    }
  @media screen and (max-width: 480px) {
    #map{
        display: block;
    }
  }
    @media screen and (min-width: 481px) {
      #placeholder {
        display: flex;
      }
    }