body{
    display: none;
}

@media (max-width: 480px) {

    body{
        display: block;
        margin: 0 15% 0 15%;
    }

    

    .header {
        display: flex;
        justify-content: left;
}
.header-par {
}
}