body{
    display: none;
}

:root {
  --color-bg: white;
  --color-body: black;
}

.darkstyle {
  --color-bg: #353535;
  --color-body: white;
}

body {
  background-color: var(--color-bg);
  color: var(--color-body);
  transition: background-color 0.5s ease, color 0.5s ease;
}



@media (max-width: 480px) {

    body{
        display: block;
        
    }

    .conteiner{
        margin: 0 15% 0 15%;
        flex: 1;
    }


    


    .header {
        display: flex;
        justify-content: left;
}
.header-par {
}


    .lang{
        display: flex;
        justify-content: space-between;
        text-align: center;
        
    }

    #language-container{
        display: grid;
  place-items: center; /* Центрирует и по горизонтали, и по вертикали */

        
    }

    #language-button{
        background-color: white;
        border: 0px;
    }

#language-menu {
  display: none;      /* по умолчанию скрыто */
  flex-direction: column;
  position: absolute; /* чтобы меню не ломало верстку */
  background: white;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 0%;
}
    #language-menu button {
      display: block;
      width: 100%;
      border: none;
      background: none;
      padding: 5px;
      text-align: left;
      cursor: pointer;
    }


    .dark-mode_switch{
        display: flex;
        justify-content: space-between;align-items: center;
    }

    .dark-mode_button{
        background-color: white;
        border: 0px;
        max-height: 30px ;
        border-radius: 10px;
        
    }
    
    #sun-moon-icon{
        max-height: 17px;
    }

    .managment {
            display: block;
            display: flex;
            justify-content: space-around;
      }
      .managment__but {
        max-width: 100px;
        width: 100%;
        height: 10vh; 
        width: 100%; 
        font-size: 1rem; 
        background-color: white;
        border: 0;
      }

      .managment__but:active{
        background-color: rgb(240, 238, 238);
      }
      .managment__but-image {
        max-width: 24px;
        max-height: 24px;
      }
      .managment__but-par {
        margin: 0;
        color: black;
      }



      .city{
        display: flex;
        justify-content: space-between;
      }

      #city-container{
        display: grid;
        place-items: center;
      }


      .problem {
        display: flex;
        justify-content: space-between;
        }
      .problem_but {
  display: flex;
  justify-content: space-between;
   align-items: center;
   background-color: transparent;
   border: 0px;
      }

      .problem_but__img{
        max-width: 30px;
        max-height: 30px;
       
      }
}